body {
	text-align: center;
	background-color: grey;
	margin: auto;
	max-width: 960px;
}

.card--container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	border: 2px solid white;
	height: 100px;
	width: 100px;
}

.board--container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}
